.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width:30rem;
    height:25rem;
    border:2px solid black;
    background-color:#F32BDF;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    text-align: center;
}


.inpt{
    margin:1rem;
    width:25rem;
    height:1.5rem;
    border-radius: 2rem;
    text-align: center;
}
.sbt{
    width:5rem;
    text-decoration:none;
    color:black;
    text-align:center;
    height:2rem;
    background-color: red;
    border: 2px solid black;
}
